USE [master]
GO
/****** Object:  Database [MyLibrary]    Script Date: 4/16/2024 5:40:35 PM ******/
CREATE DATABASE [MyLibrary]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyLibrary', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MyLibrary.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyLibrary_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MyLibrary_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyLibrary].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyLibrary]
GO
/****** Object:  Table [dbo].[BookTbl]    Script Date: 4/16/2024 5:40:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookTbl](
	[BookName] [varchar](50) NOT NULL,
	[Author] [varchar](50) NOT NULL,
	[Publisher] [varchar](50) NOT NULL,
	[Price] [int] NOT NULL,
	[Qty] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IssueTbl]    Script Date: 4/16/2024 5:40:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IssueTbl](
	[IssueNum] [int] NOT NULL,
	[StdId] [int] NOT NULL,
	[StdName] [varchar](50) NOT NULL,
	[StdDept] [varchar](50) NOT NULL,
	[StdPhone] [varchar](50) NOT NULL,
	[Bookissued] [varchar](100) NOT NULL,
	[IssueDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IssueNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LibrarianTbl]    Script Date: 4/16/2024 5:40:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LibrarianTbl](
	[LibId] [int] NOT NULL,
	[LibName] [varchar](50) NOT NULL,
	[LibPassword] [varchar](50) NOT NULL,
	[LibPhone] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LibId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReturnTbl]    Script Date: 4/16/2024 5:40:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReturnTbl](
	[ReturnNum] [int] NOT NULL,
	[StdId] [int] NOT NULL,
	[StdName] [varchar](50) NOT NULL,
	[StdDept] [varchar](50) NOT NULL,
	[Stdphone] [varchar](50) NOT NULL,
	[BookReturned] [varchar](100) NOT NULL,
	[IssueDate] [date] NOT NULL,
	[ReturnDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReturnNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentTbl]    Script Date: 4/16/2024 5:40:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentTbl](
	[StdId] [int] NOT NULL,
	[StdName] [varchar](50) NOT NULL,
	[StdDep] [varchar](50) NOT NULL,
	[StdSem] [int] NOT NULL,
	[StdPhone] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IssueTbl]  WITH CHECK ADD FOREIGN KEY([StdId])
REFERENCES [dbo].[StudentTbl] ([StdId])
GO
ALTER TABLE [dbo].[ReturnTbl]  WITH CHECK ADD FOREIGN KEY([StdId])
REFERENCES [dbo].[StudentTbl] ([StdId])
GO
USE [master]
GO
